/Sign4Text/VideosLibras
/Sign4Text/Deep/Letras
/Sign4Text/Deep/LetrasValidacao
/Sign4Text/Deep/TrainedModelWeight
/Sign4Text_OldVersion/asl_alphabet_train_augmentation
/Sign4Text_OldVersion/asl_alphabet_train_no_border
/Sign4Text_OldVersion/dataset5
/Sign4Text_OldVersion/dataset5_augmentation
/Sign4Text_OldVersion/LibrasFT
/Sign4Text_OldVersion/Pesos