CodeDeep/Sign4Text/VideosLibras
CodeDeep/Sign4Text/Deep/Letras
CodeDeep/Sign4Text/Deep/LetrasValidacao
CodeDeep/Sign4Text/Deep/TrainedModelWeight
CodeDeep/Sign4Text_OldVersion/asl_alphabet_train_augmentation
CodeDeep/Sign4Text_OldVersion/asl_alphabet_train_no_border
CodeDeep/Sign4Text_OldVersion/dataset5
CodeDeep/Sign4Text_OldVersion/dataset5_augmentation
CodeDeep/Sign4Text_OldVersion/LibrasFT
CodeDeep/Sign4Text_OldVersion/Pesos
